
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef; 
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
}


header {
    background-color: #e7d5b7; 
    background-image: radial-gradient(circle, #a67848 20%, transparent 20%), radial-gradient(circle, #a67848 20%, transparent 20%);
    background-size: 30px 30px; 
    background-position: 0 0, 15px 15px; 
    padding: 10px 0;
    font-size: 18px; 
}

nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

    nav ul li {
        display: inline;
        margin-right: 15px;
    }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            nav ul li a:hover {
                background-color: #365d98; 
            }


main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 5px; 
    margin-top: 20px;
}


footer {
    background-color: #2c3e50; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
}

    footer a {
        color: white;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }
