@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "403 Error - Access Forbidden";
}

<h2>Access Forbidden</h2>
<p>Sorry, you do not have permission to access this page.</p>
<img src="~/images/error-403.png" alt="Access Forbidden" />
