@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>Forgot Password Confirmation</h2>

<p>
    Если ваш адрес электронной почты существует в нашей базе данных, мы отправим вам инструкции по сбросу пароля.
</p>
