<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Personal.Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Personal.Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <!-- Account Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                            <a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                        </div>
                    </li>

                    <!-- Articles Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownArticles" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Articles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownArticles">
                            <a class="dropdown-item" asp-controller="Articles" asp-action="Index">View Articles</a>
                            <a class="dropdown-item" asp-controller="Articles" asp-action="Create">Create Article</a>
                            <!-- Add other actions for Articles if needed -->
                        </div>
                    </li>

                    <!-- Comments Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comments
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownComments">
                            <a class="dropdown-item" asp-controller="Comments" asp-action="Index">View Comments</a>
                            <a class="dropdown-item" asp-controller="Comments" asp-action="Create">Create Comment</a>
                            <!-- Add other actions for Comments if needed -->
                        </div>
                    </li>

                    <!-- Users Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Users
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                            <a class="dropdown-item" asp-controller="Users" asp-action="Index">View Users</a>
                            <!-- Add other actions for Users if needed -->
                        </div>
                    </li>

                    <!-- Add additional dropdowns for other controllers like Tags, Roles, etc. -->

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - Personal.Blog</span>
        </div>
    </footer>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    
   

</body>
</html>
